.domnight {
  animation-name: dom_smena;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes dom_smena {
  0% {
    opacity: 0;
    filter: saturate(100%);
  }
  100% {
    opacity: 1;
    filter: saturate(110%);
  }
}
.textures {
  animation-name: textures_smena;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes textures_smena {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.1;
  }
}
.NIGHTONE {
  animation-name: nebo_smena;
  animation-duration: 5s;
  animation-timing-function: 10s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes nebo_smena {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.moon {
  animation: moon_smena 19s linear infinite,
    brightness 15s ease-in alternate-reverse infinite;
}
@keyframes moon_smena {
  0% {
    transform: rotate(90deg) translateX(30vw);
    opacity: 100%;
  }
  50% {
    transform: rotate(450deg) translateX(55vw);
    opacity: 0%;
  }
}
@keyframes brightness {
  0% {
    opacity: 1;
  }
  54% {
    filter: none;
  }
  58% {
    opacity: 1;
  }
  59.99999% {
    filter: brightness(2);
    z-index: 1;
  }
  60% {
    opacity: 0;
    z-index: -1;
  }
}
.sun {
  animation-name: sun_smena;
  animation-duration: 19s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes sun_smena {
  0% {
    transform: rotate(90deg) translateX(30vw);
  }
  50% {
    transform: rotate(450deg) translateX(55vw);
  }
}
