@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
#preloader.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}
.domnight {
  animation-name: dom_smena;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes dom_smena {
  0% {
    opacity: 0;
    filter: saturate(100%);
  }
  100% {
    opacity: 1;
    filter: saturate(110%);
  }
}
.textures {
  animation-name: textures_smena;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes textures_smena {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.1;
  }
}
.NIGHTONE {
  animation-name: nebo_smena;
  animation-duration: 5s;
  animation-timing-function: 10s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes nebo_smena {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.moon {
  animation: moon_smena 20s linear infinite,
    brightness 15s ease-in alternate-reverse infinite;
}
@keyframes moon_smena {
  0% {
    transform: rotate(90deg) translateX(30vw);
  }
  50% {
    transform: rotate(450deg) translateX(55vw);
  }
}
@keyframes brightness {
  0% {
    opacity: 0;
  }
  54% {
    filter: none;
  }
  58% {
    opacity: 1;
  }
  59.99999% {
    filter: brightness(1.5);
    z-index: 1;
  }
  60% {
    opacity: 0;
    z-index: -1;
  }
}
.sun {
  animation-name: sun_smena;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes sun_smena {
  0% {
    transform: rotate(90deg) translateX(30vw);
  }
  50% {
    transform: rotate(450deg) translateX(55vw);
  }
}
.girl1 {
  animation-name: girl_dvizh;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /* cursor: not-allowed; */
}

@keyframes girl_dvizh {
  from {
    top: 11vw;
  }
  to {
    top: 11.5vw;
  }
}
/* .girl1:hover {
  filter: brightness(110%);
} */
.frog1 {
  animation-name: frog1_dvizh;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  cursor: pointer;
}
@keyframes frog1_dvizh {
  from {
    top: 16vw;
  }
  to {
    top: 16.5vw;
  }
}
.frog_red1 {
  animation-name: frog_red_dvizh;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /* cursor: pointer; */
}

@keyframes frog_red_dvizh {
  from {
    top: 14.2vw;
    opacity: 90%;
  }
  to {
    top: 14.7vw;
    opacity: 30%;
  }
}

.frog_red1_smena {
  animation-name: frog_red1_smenaa;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;

  animation-direction: alternate;

  /* cursor: pointer; */
}
@keyframes frog_red1_smenaa {
  from {
    opacity: 0%;

    /* top: 15vw; */
  }
  to {
    opacity: 100%;

    /* top: 16.3vw; */
  }
}
.plakat {
  animation-name: plakat_dvizh;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  cursor: pointer;
}
@keyframes plakat_dvizh {
  from {
    top: 12vw;
    fill: none;
  }
  to {
    top: 12.8vw;
    /* filter: saturate(70); */
  }
}
.frog_2 {
  animation-name: frog2_dvizh_2;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes frog2_dvizh_2 {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
.replica_1_1 {
  animation-name: REPLIC1;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}
@keyframes REPLIC1 {
  from {
    opacity: 0%;
    top: -4vw;
    margin-left: 14.8vw;
  }
  to {
    opacity: 100%;
    top: -5vw;
    margin-left: 15.4vw;
  }
}
@keyframes REPLIC1_OPACITY_ONLY {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
.replica_1_2 {
  animation-name: REPLIC2;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}
@keyframes REPLIC2 {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
.replica_2_1 {
  animation-name: REPLICs2;
  animation-timing-function: ease-in-out;
  animation-duration: 0.7s;
}
@keyframes REPLICs2 {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
.replica_2_2 {
  animation-name: REPLICs22;
  animation-timing-function: ease-in-out;
  animation-duration: 0.7s;
}
@keyframes REPLICs22 {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
.cigara {
  animation-name: wiggle;
  animation-timing-function: ease-in-out;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes wiggle {
  0% {
    transform: rotate(-2deg);
  }
  /* 25% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  } */
  100% {
    transform: rotate(2deg);
  }
}
.visible {
  opacity: 1;
  transition: opacity 0.5s ease; /* Плавное появление */
}
.dalee:hover,
.obratno:hover {
  animation: hoverEffect 0.2s ease-in-out forwards;
}
@keyframes hoverEffect {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
.rot {
  animation-name: rot_dvizh;
  animation-duration: 0.4s;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes rot_dvizh {
  from {
    transform: translateY(0vw);
  }
  to {
    transform: translateY(0.3vw);
  }
}

.clock {
  animation-name: small_dvizh;
  animation-duration: 2s;
  /* animation-direction: alternate-reverse; */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes small_dvizh {
  0% {
    transform: rotate(0deg) translateX(0.3vw) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(0.3vw) rotate(-360deg);
  }
}
.cover4 {
  animation: float-animation 2s ease-in-out infinite;
}
@keyframes float-animation {
  0%,
  100% {
    transform: translateY(0); /* Исходное положение */
  }
  50% {
    transform: translateY(-0.4vw); /* Приподнятая позиция (вверх на 1vw) */
  }
}
.window1 {
  animation-name: smallwindow_dvizh;
  animation-duration: 2s;
  animation-direction: reverse;
  /* animation-direction: alternate-reverse; */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes smallwindow_dvizh {
  0% {
    transform: rotate(0deg) translateX(0.2vw) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(0.2vw) rotate(-360deg);
  }
}
.window2 {
  animation-name: smallwindow2_dvizh;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes smallwindow2_dvizh {
  0% {
    transform: rotate(0deg) translateX(0.1vw) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(0.1vw) rotate(-360deg);
  }
}
.door {
  animation-name: smalldoor_dvizh;
  animation-duration: 1s;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes smalldoor_dvizh {
  0%,
  100% {
    transform: translateX(0vw); /* Исходное положение */
  }
  50% {
    transform: translateX(0.2vw); /* Приподнятая позиция (вверх на 1vw) */
  }
}
.without {
  animation: swing-animation 2s ease-in-out infinite; /* Анимация покачивания */
}
@keyframes swing-animation {
  0%,
  100% {
    transform: rotate(-4deg) translateX(-0.01vw);
  }
  50% {
    transform: rotate(4deg) translateX(-0.01vw);
  }
}
.final2 {
  animation-name: final_smena;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes final_smena {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.dance-animation {
  animation: dance 1s infinite ease-in-out;
}

/* Ключевые кадры для анимации "танца" */
@keyframes dance {
  0% {
    transform: rotate(0deg) scale(1) scaleX(1); /* Начальное состояние */
  }
  25% {
    transform: rotate(10deg) scale(1.1) scaleX(1); /* Поворот вправо и увеличение */
  }
  50% {
    transform: rotate(-10deg) scale(1) scaleX(-1); /* Поворот влево, нормальный размер, отзеркаливание */
  }
  75% {
    transform: rotate(-5deg) scale(1.1) scaleX(-1); /* Маленький поворот влево, увеличение, зеркало */
  }
  100% {
    transform: rotate(0deg) scale(1) scaleX(1); /* Возврат в исходное состояние */
  }
}

/* Класс для анимации инверсии */
.animate-frog {
  animation: moveDiagonally 1s ease-in-out infinite alternate-reverse,
    invertCycle 0.5s alternate-reverse infinite;
}

/* Ключевые кадры для инверсии */
@keyframes invertCycle {
  0% {
    filter: invert(0%);
  }
  100% {
    filter: invert(110%);
  }
}
/* .vot {
  animation: moveVot;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes moveVot {
  0% {
    transform: translate(-50%, -50%) rotateX(0deg) rotateY(0deg)
      translate3d(17vw, 6vw, 19vw);
  }
  100% {
    transform: translate(-50%, -50%) rotateX(20deg) rotateY(20deg)
      translate3d(9vw, 6vw, 23vw);
  }
} */
.perch:hover {
  animation-name: perchat;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes perchat {
  from {
    filter: none;
  }
  to {
    filter: brightness(120%);
  }
}
.animate-decor {
  animation: invertCycle 0.5s alternate-reverse infinite;
}
.animate-cvetok {
  animation: krug-clockwise 2s linear infinite,
    invertCycle 0.5s alternate-reverse infinite;
}

.animate-cvetok2 {
  animation: krug-counterclockwise 2s linear infinite,
    invertCycle 0.5s alternate-reverse infinite;
}
@keyframes krug-clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes krug-counterclockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes invertCycle {
  0% {
    filter: invert(0%);
  }
  100% {
    filter: invert(110%);
  }
}
.zhem,
.zhem2 {
  transition: transform 0.1s ease, opacity 0.1s ease;
}
.pulse-animation {
  animation: pulse 1s infinite ease-in-out;
}

/* Ключевые кадры для пульсации */
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
#opa:hover {
  filter: brightness(1.4);
}

/* Эффект при наведении на #opa2 */
#opa2:hover {
  filter: brightness(1.4);
}
.scaled {
  transform: scale(2) translateY(-5vw) translateX(1vw); /* Возвращаемся к исходному размеру и поднимаем вверх */
}
.moved-down {
  transform: translateY(8vw) translateX(-2vw); /* Сдвигаем вниз на 50px */
}
.error {
  animation-name: errorr;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
}

@keyframes errorr {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
