.domnight {
  animation-name: dom_smena;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes dom_smena {
  0% {
    opacity: 0;
    filter: saturate(100%);
  }
  100% {
    opacity: 1;
    filter: saturate(110%);
  }
}
.textures {
  animation-name: textures_smena;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes textures_smena {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.1;
  }
}
.NIGHTONE {
  animation-name: nebo_smena;
  animation-duration: 5s;
  animation-timing-function: 10s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes nebo_smena {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.moon {
  animation: moon_smena 20s linear infinite,
    brightness 15s ease-in alternate-reverse infinite;
}
@keyframes moon_smena {
  0% {
    transform: rotate(90deg) translateX(30vw);
  }
  50% {
    transform: rotate(450deg) translateX(55vw);
  }
}
@keyframes brightness {
  0% {
    opacity: 0;
  }
  54% {
    filter: none;
  }
  58% {
    opacity: 1;
  }
  59.99999% {
    filter: brightness(1.5);
    z-index: 1;
  }
  60% {
    opacity: 0;
    z-index: -1;
  }
}
.sun {
  animation-name: sun_smena;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes sun_smena {
  0% {
    transform: rotate(90deg) translateX(30vw);
  }
  50% {
    transform: rotate(450deg) translateX(55vw);
  }
}
.girl1 {
  animation-name: girl_dvizh;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /* cursor: not-allowed; */
}

@keyframes girl_dvizh {
  from {
    top: 11vw;
  }
  to {
    top: 11.5vw;
  }
}
/* .girl1:hover {
  filter: brightness(110%);
} */
.frog1 {
  animation-name: frog1_dvizh;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  cursor: pointer;
}
@keyframes frog1_dvizh {
  from {
    top: 16vw;
  }
  to {
    top: 16.5vw;
  }
}
.frog_red1 {
  animation-name: frog_red_dvizh;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /* cursor: pointer; */
}

@keyframes frog_red_dvizh {
  from {
    top: 14.2vw;
    opacity: 90%;
  }
  to {
    top: 14.7vw;
    opacity: 30%;
  }
}

.frog_red1_smena {
  animation-name: frog_red1_smenaa;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;

  animation-direction: alternate;

  /* cursor: pointer; */
}
@keyframes frog_red1_smenaa {
  from {
    opacity: 0%;

    /* top: 15vw; */
  }
  to {
    opacity: 100%;

    /* top: 16.3vw; */
  }
}
.plakat {
  animation-name: plakat_dvizh;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  cursor: pointer;
}
@keyframes plakat_dvizh {
  from {
    top: 12vw;
    fill: none;
  }
  to {
    top: 12.8vw;
    /* filter: saturate(70); */
  }
}
.frog_2 {
  animation-name: frog2_dvizh_2;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes frog2_dvizh_2 {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
.replica_1_1 {
  animation-name: REPLIC1;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}
@keyframes REPLIC1 {
  from {
    opacity: 0%;
    top: -4vw;
    margin-left: 14.8vw;
  }
  to {
    opacity: 100%;
    top: -5vw;
    margin-left: 15.4vw;
  }
}
.replica_1_2 {
  animation-name: REPLIC2;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}
@keyframes REPLIC2 {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
.replica_2_1 {
  animation-name: REPLICs2;
  animation-timing-function: ease-in-out;
  animation-duration: 0.7s;
}
@keyframes REPLICs2 {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
.replica_2_2 {
  animation-name: REPLICs22;
  animation-timing-function: ease-in-out;
  animation-duration: 0.7s;
}
@keyframes REPLICs22 {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
.cigara {
  animation-name: wiggle;
  animation-timing-function: ease-in-out;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes wiggle {
  0% {
    transform: rotate(-2deg);
  }
  /* 25% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  } */
  100% {
    transform: rotate(2deg);
  }
}
