* {
  box-sizing: border-box;
}
body {
  background-color: #cf3711;
  width: 100%;
}
.SMENA {
  position: relative;
  width: 100vw;
  height: 56.25vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.DAYONE {
  position: absolute;
  background-image: url("../images/nebo1.svg");
  width: 100vw;
  height: 56.25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}
.domday {
  position: absolute;
  background-image: url("../images/dom.svg");
  background-size: contain;
  width: 100%;
  height: 56.25vw;
  z-index: 2;
  filter: saturate(105%);
}
.sun {
  position: absolute;
  background-image: url("../images/sun.svg");
  background-size: cover;
  width: 30vw;
  height: 27.7vw;
  z-index: 1;
  margin-block-start: 20vw;
}
.texture1,
.texture2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.texture1 {
  background-image: url("../images/texture1.svg");
  background-size: cover;
  mix-blend-mode: multiply;
  pointer-events: none;
  z-index: 5;
}
.texture2 {
  background-image: url("../images/texture2.svg");
  background-size: cover;
  mix-blend-mode: color-burn;
  pointer-events: none;
  z-index: 6;
}

.NIGHTONE {
  position: absolute;
  background-image: url("../images/nebo2.svg");
  width: 100vw;
  height: 56.25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.domnight {
  position: absolute;
  background-image: url("../images/dom2.svg");
  background-size: contain;
  width: 100%;
  height: 56.25vw;
  z-index: 2;
  /* overflow: hidden; */
}
.moon {
  position: absolute;
  /* margin-left: -0.5vw; */
  background-image: url("../images/moon_zamena.svg");

  background-size: cover;
  width: 30vw;
  height: 27.7vw;
  z-index: 1;
  filter: saturate(105%);
  margin-block-start: 20vw;
}
.texture1another,
.texture2another {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.texture1another {
  background-image: url("../images/texture1.svg");
  background-size: cover;
  mix-blend-mode: multiply;
  pointer-events: none;
  z-index: 5;
}
.texture2another {
  background-image: url("../images/texture2.svg");
  background-size: cover;
  mix-blend-mode: color-burn;
  pointer-events: none;
  z-index: 6;
  opacity: 60%;
}
